{% extends 'Admin/base.html' %} {% block admin %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1 style="color: black">Store</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'admin-dashboard' %}">Home</a>
        </li>
        <li class="breadcrumb-item"><a href="{% url 'store' %}">Store</a></li>
        <li class="breadcrumb-item">Store Details</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <h3 style="color: black; display: flex; justify-content: center">
        Categories and Items that are stored at Civil Service branch are listed
        below.
      </h3>
      <!--  -->
      <div class="col-xxl-3 col-md-6 col-sm-6 m-3">
        <a href="{% url 'cat-item-detail' %}" class="card info-card sales-card">
          <div class="card-body">
            <h5 class="card-title">ERP</h5>

            <div class="d-flex align-items-center">
              <div
                class="card-icon rounded-circle d-flex align-items-center justify-content-center"
              >
                <i class="bi bi-pc-display-horizontal"></i>
              </div>
              <div class="ps-3">
                <h6>Mr. Biniyam</h6>
                <span class="text-success small pt-1 fw-bold">9</span>
                <span class="text-muted small pt-2 ps-1"> members</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!--  -->
      <!--  -->
      <div class="col-xxl-3 col-md-6 col-sm-6 m-3">
        <div class="card info-card sales-card">
          <div class="card-body">
            <h5 class="card-title">ERP</h5>

            <div class="d-flex align-items-center">
              <div
                class="card-icon rounded-circle d-flex align-items-center justify-content-center"
              >
                <i class="bi bi-pc-display-horizontal"></i>
              </div>
              <div class="ps-3">
                <h6>Mr. Biniyam</h6>
                <span class="text-success small pt-1 fw-bold">9</span>
                <span class="text-muted small pt-2 ps-1"> members</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <!--  -->
      <div class="col-xxl-3 col-md-6 col-sm-6 m-3">
        <div class="card info-card sales-card">
          <div class="card-body">
            <h5 class="card-title">ERP</h5>

            <div class="d-flex align-items-center">
              <div
                class="card-icon rounded-circle d-flex align-items-center justify-content-center"
              >
                <i class="bi bi-pc-display-horizontal"></i>
              </div>
              <div class="ps-3">
                <h6>Mr. Biniyam</h6>
                <span class="text-success small pt-1 fw-bold">9</span>
                <span class="text-muted small pt-2 ps-1"> members</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <!--  -->
      <div class="col-xxl-3 col-md-6 col-sm-6 m-3">
        <div class="card info-card sales-card">
          <div class="card-body">
            <h5 class="card-title">ERP</h5>

            <div class="d-flex align-items-center">
              <div
                class="card-icon rounded-circle d-flex align-items-center justify-content-center"
              >
                <i class="bi bi-pc-display-horizontal"></i>
              </div>
              <div class="ps-3">
                <h6>Mr. Biniyam</h6>
                <span class="text-success small pt-1 fw-bold">9</span>
                <span class="text-muted small pt-2 ps-1"> members</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <!--  -->
      <div class="col-xxl-3 col-md-6 col-sm-6 m-3">
        <div class="card info-card sales-card">
          <div class="card-body">
            <h5 class="card-title">ERP</h5>

            <div class="d-flex align-items-center">
              <div
                class="card-icon rounded-circle d-flex align-items-center justify-content-center"
              >
                <i class="bi bi-pc-display-horizontal"></i>
              </div>
              <div class="ps-3">
                <h6>Mr. Biniyam</h6>
                <span class="text-success small pt-1 fw-bold">9</span>
                <span class="text-muted small pt-2 ps-1"> members</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <!--  -->
      <div class="col-xxl-3 col-md-6 col-sm-6 m-3">
        <div class="card info-card sales-card">
          <div class="card-body">
            <h5 class="card-title">ERP</h5>

            <div class="d-flex align-items-center">
              <div
                class="card-icon rounded-circle d-flex align-items-center justify-content-center"
              >
                <i class="bi bi-pc-display-horizontal"></i>
              </div>
              <div class="ps-3">
                <h6>Mr. Biniyam</h6>
                <span class="text-success small pt-1 fw-bold">9</span>
                <span class="text-muted small pt-2 ps-1"> members</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
    </div>
  </section>
</main>
<!-- End #main -->

{% endblock %}
