{% extends 'Admin/base.html' %} {% block admin %}

<main id="main" class="main">
  <div class="pagetitle">
    <h1 style="color: black">Departments</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'admin-dashboard' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'departments' %}">Departments</a>
        </li>
        <li class="breadcrumb-item">Department Details</li>
      </ol>
    </nav>
  </div>
  <section class="section" style="margin-top: 50px">
    <div class="row">
      <div class="col-lg-7">
        <div class="card">
          <div class="card-body">
            <h1
              style="
                color: black;
                display: flex;
                justify-content: center;
                margin: 20px;
              "
            >
              {{selectedDepartment.departmentName}}
            </h1>
            <span style="color: rgb(41, 213, 41)"
              >{{selectedDepartment.departmentName}}</span
            >
            {{selectedDepartment.departmentDescription}}
            <h3 style="margin: 20px 0">
              Department Head : {{selectedDepartment.departmentHead}}
            </h3>
            <h4>Members of {{selectedDepartment.departmentName}}</h4>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Memeber Name</th>
                  <th scope="col">Gender</th>
                  <th scope="col">phone no.</th>
                  <th scope="col">Address</th>
                </tr>
              </thead>
              <tbody>
                {% for eachMember in members %}
                <tr>
                  <th scope="row">{{eachMember.id}}</th>
                  <td>{{eachMember.Full_Name}}</td>
                  <td>{{eachMember.gender}}</td>
                  <td>{{eachMember.phone1}}</td>
                  <td>{{eachMember.address}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h2 style="color: black; display: flex; justify-content: center">
                Manage Department
              </h2>
              <div class="col-12">
                <form method="post" action="{{selectedDepartment.id}}">
                  {% csrf_token %}
                  <label for="inputNanme4" class="form-label"
                    ><span>Department Name</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="updatedDepartmentName"
                    id="inputNanme4"
                    placeholder="{{selectedDepartment.departmentName}}"
                  />
                  <input
                    type="hidden"
                    name="departmentId"
                    value="{{selectedDepartment.id}}"
                  />
                  <div style="display: flex; justify-content: flex-end">
                    <button
                      style="margin: 10px"
                      type="submit"
                      class="btn btn-outline-warning"
                    >
                      Update
                    </button>
                    <button style="margin: 10px" class="btn btn-outline-danger">
                      Delete Department
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <h3
                  style="color: black; display: flex; justify-content: center"
                >
                  Delete Department
                </h3>
                <span>
                  To confirm write the department name in the space provided.
                </span>
                <div>
                  <label for="inputNanme4" class="form-label"
                    ><span style="color: rgb(255, 54, 54)"
                      >Department Name</span
                    ></label
                  >
                  <input type="text" class="form-control" id="inputNanme4" />
                </div>
                <div style="display: flex; justify-content: flex-end">
                  <button
                    style="margin: 10px"
                    type="button"
                    class="btn btn-outline-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#verticalycentered"
                  >
                    Confirm
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>
</main>

{% endblock %}
