{% extends 'Admin/base.html' %} {% block admin %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Manage Employees</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'admin-dashboard' %}">Home</a>
        </li>
        <li class="breadcrumb-item">Manage Employees</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-7">
        <h1>Manage Employees Page</h1>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam, fugiat!
          Voluptatem eius suscipit sed itaque laudantium magni odio veniam,
          neque voluptates quibusdam quae placeat perferendis facere? Illo sed
          vel earum laboriosam dolorem laborum vitae, et aliquam quo sapiente
          soluta totam voluptate quia. Beatae ad sit nulla hic, qui sed aut.
        </p>
      </div>
      <div class="col-lg-4">
        <div class="card info-card sales-card">
          <div class="card-body">
            <h5 class="card-title">Employees</h5>

            <div class="d-flex align-items-center">
              <div
                class="card-icon rounded-circle d-flex align-items-center justify-content-center"
              >
                <i class="bi bi-person"></i>
              </div>
              <div class="ps-3">
                <h5>432</h5>
                <span class="text-success small pt-1 fw-bold">78%</span>
                <span class="text-muted small pt-2 ps-1">increase</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-11">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Employees</h5>

          <!-- Table with stripped rows -->
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Age</th>
                <th scope="col">Start Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Brandon Jacob</td>
                <td>Designer</td>
                <td>28</td>
                <td>2016-05-25</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Bridie Kessler</td>
                <td>Developer</td>
                <td>35</td>
                <td>2014-12-05</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Ashleigh Langosh</td>
                <td>Finance</td>
                <td>45</td>
                <td>2011-08-12</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Angus Grady</td>
                <td>HR</td>
                <td>34</td>
                <td>2012-06-11</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Raheem Lehner</td>
                <td>Dynamic Division Officer</td>
                <td>47</td>
                <td>2011-04-19</td>
              </tr>
            </tbody>
          </table>
          <!-- End Table with stripped rows -->
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->

{% endblock %}
