{% extends 'Admin/base.html' %} {% block admin %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1 style="color: black">Manage Employees</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'admin-dashboard' %}">Home</a>
        </li>
        <li class="breadcrumb-item">Manage Employees</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-11" style="display: flex; justify-content: right">
        <div class="d-grid gap-2 m-3">
          <a href="{% url 'add-new-employee' %}" class="btn btn-outline-secondary btn-lg" type="button">
            <i class="bi bi-person-plus"></i
            ><span style="margin: 0 6px"> </span>Add New Employees
            </a>
        </div>
      </div>
    </div>
    <!-- Tabels -->
    <div class="col-lg-11">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Employees</h5>
          <table class="table table-border datatable">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Age</th>
                <th scope="col">Start Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Brandon Jacob</td>
                <td>Designer</td>
                <td>28</td>
                <td>2016-05-25</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Bridie Kessler</td>
                <td>Developer</td>
                <td>35</td>
                <td>2014-12-05</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Ashleigh Langosh</td>
                <td>Finance</td>
                <td>45</td>
                <td>2011-08-12</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Angus Grady</td>
                <td>HR</td>
                <td>34</td>
                <td>2012-06-11</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Raheem Lehner</td>
                <td>Dynamic Division Officer</td>
                <td>47</td>
                <td>2011-04-19</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- End of Tabel -->
  </section>
</main>
<!-- End #main -->

{% endblock %}
